.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    border-bottom: solid 2px #31a8f7;
}

.header__logo {
    height: 50px;
    cursor: pointer;
}

.header__login-button {
    height: 40px;
    padding: 0 20px;
    border-radius: 8px;
    border: none;
    background-color: #31a8f7;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header__login-button:hover {
    background-color: #70bef1;
}

.header__logout-button {
    height: 40px;
    padding: 0 20px;
    border-radius: 8px;
    border: solid 2px #31a8f7;
    background-color: #fff;
    color: #31a8f7;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header__logout-button:hover {
    background-color: #31a8f7;
    color: #fff;
}

.header__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__user > div {
    margin-right: 12px;
}
